.layout{
    color: #fff;
    position: relative;
    overflow: auto;
}
.logo {
    width: 180px;
    height: 64px;
    background: #495090;
    position: relative;
    float: left;
}
.header-right {
    margin: 0 auto;
    text-align: right;
}
.sider-view {
}
.content-view {
    min-height: 500px;
    background: #F0F0F0;
    color: #515a6e;
}
.content-status-view {
}
.content-configuration-view {
}
.footer-view {
    text-align: center;
}
